body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;

	color		: #333333;
	background-color: #efefef;
	font-family	: arial;
	font-size	: 100%;
}

#info .top {
	position	: absolute;
	top		: 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #336699;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#info .bottom {
	position	: absolute;
	background 	: #efefef;
	color 		: #333333;
	bottom		: 0px;
	right		: 5px;
	padding		: 5px;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUdDyMV0M9x1AAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAANSURBVAjXYzA2Np4JAAJpATNcoOSNAAAAAElFTkSuQmCC');
	background-position: left top;
    background-repeat: repeat;
	color: #efefef;
	text-align: center;
}

#loading h2 {
	font-size: 36px;
	line-height: 36px;
	margin-top: 50px; 
}

#conrols {
	position: absolute;
	width: 300px;
	height: 30px;
	top: 0;
	left: 0;
	display: block;
	display: none;
	z-index: 100;
}